In [1]:
%tensorflow_version 1.x

TensorFlow 1.x selected.

In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
%matplotlib inline

**Preprocessing Train Data**

In [3]:
data = pd.read_csv('/content/train_XnW6LSF.csv')

In [4]:
data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [5]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [7]:
data.duplicated().sum()

0

In [8]:
data.Item_Weight.fillna(data.Item_Weight.mean(), inplace=True)
data.Item_Weight.isnull().sum()

0

In [9]:
data.Outlet_Size.value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [10]:
data.Outlet_Size=data.Outlet_Size.fillna(data['Outlet_Size'].value_counts().index[0])
data.Outlet_Size.isna().sum()

0

In [11]:
data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [12]:
data.shape

(8523, 12)

In [13]:
data['Item_Identifier'].unique().shape

(1559,)

In [14]:
data.Item_Fat_Content.unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [15]:
data.Item_Type.unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [16]:
data.Outlet_Identifier.unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [17]:
data.Outlet_Size.unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [18]:
data.Outlet_Size.value_counts()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [19]:
data.Outlet_Location_Type.unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [20]:
data.Outlet_Type.unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [21]:
data=data.drop('Outlet_Identifier',axis=1)
data=data.drop('Item_Identifier',axis=1)
data.head()

   Item_Weight Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0         9.30          Low Fat  ...  Supermarket Type1         3735.1380
1         5.92          Regular  ...  Supermarket Type2          443.4228
2        17.50          Low Fat  ...  Supermarket Type1         2097.2700
3        19.20          Regular  ...      Grocery Store          732.3800
4         8.93          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 10 columns]

In [22]:
categories=['Item_Fat_Content','Item_Type','Outlet_Size','Outlet_Location_Type','Outlet_Type']

In [23]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
for cat in categories:
      data[cat]= label_encoder.fit_transform(data[cat])
data.head()

   Item_Weight  Item_Fat_Content  ...  Outlet_Type  Item_Outlet_Sales
0         9.30                 1  ...            1          3735.1380
1         5.92                 2  ...            2           443.4228
2        17.50                 1  ...            1          2097.2700
3        19.20                 2  ...            0           732.3800
4         8.93                 1  ...            1           994.7052

[5 rows x 10 columns]

In [24]:
X=data.drop('Item_Outlet_Sales',axis=1)
X.head()

   Item_Weight  Item_Fat_Content  ...  Outlet_Location_Type  Outlet_Type
0         9.30                 1  ...                     0            1
1         5.92                 2  ...                     2            2
2        17.50                 1  ...                     0            1
3        19.20                 2  ...                     2            0
4         8.93                 1  ...                     2            1

[5 rows x 9 columns]

In [25]:
y=data['Item_Outlet_Sales']
y.head()

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [26]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2,random_state=10)

In [27]:
(X_train.shape, y_train.shape), (X_test.shape, y_test.shape)

(((6818, 9), (6818,)), ((1705, 9), (1705,)))

**Model Building**

In [28]:
import keras
import tensorflow as tf

Using TensorFlow backend.

In [29]:
from keras.models import Sequential
from keras.layers import InputLayer, Dense

In [30]:
input_neurons = X_train.shape[1]

In [31]:
output_neurons = 1

In [32]:
number_of_hidden_layers = 10
neuron_hidden_layer_1 = 500
neuron_hidden_layer_2 = 450
neuron_hidden_layer_3 = 400
neuron_hidden_layer_4 = 350
neuron_hidden_layer_5 = 300
neuron_hidden_layer_6 = 250
neuron_hidden_layer_7 = 200
neuron_hidden_layer_8 = 150
neuron_hidden_layer_9 = 100
neuron_hidden_layer_10 = 50

In [33]:
model = Sequential()
model.add(InputLayer(input_shape=(input_neurons,)))
model.add(Dense(units=neuron_hidden_layer_1, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_2, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_3, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_4, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_5, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_6, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_7, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_8, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_9, activation='relu'))
model.add(Dense(units=neuron_hidden_layer_10, activation='relu'))
model.add(Dense(units=output_neurons, activation='linear'))

WARNING:tensorflow:From /tensorflow-1.15.2/python3.7/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [34]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 500)               5000
_________________________________________________________________
dense_2 (Dense)              (None, 450)               225450
_________________________________________________________________
dense_3 (Dense)              (None, 400)               180400
_________________________________________________________________
dense_4 (Dense)              (None, 350)               140350
_________________________________________________________________
dense_5 (Dense)              (None, 300)               105300
_________________________________________________________________
dense_6 (Dense)              (None, 250)               75250
_________________________________________________________________
dense_7 (Dense)              (None, 200)               50200
_________________________________________________________________
dense_8 (Dense)              (None, 150)               30150
_________________________________________________________________
dense_9 (Dense)              (None, 100)               15100
_________________________________________________________________
dense_10 (Dense)             (None, 50)                5050
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 51
=================================================================
Total params: 832,301
Trainable params: 832,301
Non-trainable params: 0
_________________________________________________________________

In [35]:
model.compile(optimizer = "Adam", loss = "mse", metrics =[tf.keras.metrics.RootMeanSquaredError()])

In [36]:
model_history = model.fit(X_train, y_train,validation_data=(X_test, y_test), epochs=100)

WARNING:tensorflow:From /tensorflow-1.15.2/python3.7/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 6818 samples, validate on 1705 samples
Epoch 1/100
6818/6818 [==============================] - 4s 607us/step - loss: 2613143.8438 - root_mean_squared_error: 1821.9434 - val_loss: 2019451.2001 - val_root_mean_squared_error: 1594.1744
Epoch 2/100
6818/6818 [==============================] - 4s 543us/step - loss: 2235266.0760 - root_mean_squared_error: 1563.7294 - val_loss: 2051671.1497 - val_root_mean_squared_error: 1536.4635
Epoch 3/100
6818/6818 [==============================] - 4s 548us/step - loss: 2043110.8098 - root_mean_squared_error: 1516.0396 - val_loss: 1888312.3809 - val_root_mean_squared_error: 1498.4147
Epoch 4/100
6818/6818 [==============================] - 4s 546us/step - loss: 2013813.2826 - root_mean_squared_error: 1487.0400 - val_loss: 2052982.3272 - val_root_mean_squared_error: 1477.6492
Epoch 5/100
6818/6818 [==============================] - 4s 546us/step - loss: 2032599.3756 - root_mean_squared_error: 1472.6440 - val_loss: 2074076.3884 - val_root_mean_squared_error: 1467.6345
Epoch 6/100
6818/6818 [==============================] - 4s 544us/step - loss: 2049447.4611 - root_mean_squared_error: 1466.7878 - val_loss: 1952709.3470 - val_root_mean_squared_error: 1461.1830
Epoch 7/100
6818/6818 [==============================] - 4s 565us/step - loss: 2009678.5963 - root_mean_squared_error: 1458.0632 - val_loss: 2501787.8820 - val_root_mean_squared_error: 1457.0909
Epoch 8/100
6818/6818 [==============================] - 4s 551us/step - loss: 1934621.8788 - root_mean_squared_error: 1456.5771 - val_loss: 1762412.9455 - val_root_mean_squared_error: 1450.6736
Epoch 9/100
6818/6818 [==============================] - 4s 548us/step - loss: 1892237.1406 - root_mean_squared_error: 1446.7455 - val_loss: 1818485.7689 - val_root_mean_squared_error: 1441.6134
Epoch 10/100
6818/6818 [==============================] - 4s 551us/step - loss: 1966060.6958 - root_mean_squared_error: 1439.3206 - val_loss: 1704213.2357 - val_root_mean_squared_error: 1436.2758
Epoch 11/100
6818/6818 [==============================] - 4s 554us/step - loss: 1795662.0726 - root_mean_squared_error: 1431.7148 - val_loss: 1911546.6399 - val_root_mean_squared_error: 1427.9106
Epoch 12/100
6818/6818 [==============================] - 4s 559us/step - loss: 1815618.0522 - root_mean_squared_error: 1424.9954 - val_loss: 1730038.0358 - val_root_mean_squared_error: 1421.2198
Epoch 13/100
6818/6818 [==============================] - 4s 553us/step - loss: 1688556.5176 - root_mean_squared_error: 1417.0587 - val_loss: 1558192.3271 - val_root_mean_squared_error: 1411.9253
Epoch 14/100
6818/6818 [==============================] - 4s 544us/step - loss: 1634076.1417 - root_mean_squared_error: 1407.4763 - val_loss: 1950801.9497 - val_root_mean_squared_error: 1403.4711
Epoch 15/100
6818/6818 [==============================] - 4s 545us/step - loss: 1681145.7562 - root_mean_squared_error: 1401.0431 - val_loss: 1495335.6283 - val_root_mean_squared_error: 1396.6506
Epoch 16/100
6818/6818 [==============================] - 4s 562us/step - loss: 1716271.4777 - root_mean_squared_error: 1393.5690 - val_loss: 1485478.1276 - val_root_mean_squared_error: 1390.3458
Epoch 17/100
6818/6818 [==============================] - 4s 548us/step - loss: 1609172.0391 - root_mean_squared_error: 1386.6053 - val_loss: 1650985.9577 - val_root_mean_squared_error: 1383.3008
Epoch 18/100
6818/6818 [==============================] - 4s 556us/step - loss: 1618264.0840 - root_mean_squared_error: 1380.7174 - val_loss: 1501146.6538 - val_root_mean_squared_error: 1377.1050
Epoch 19/100
6818/6818 [==============================] - 4s 550us/step - loss: 1664956.4062 - root_mean_squared_error: 1375.0442 - val_loss: 2422315.7863 - val_root_mean_squared_error: 1373.7959
Epoch 20/100
6818/6818 [==============================] - 4s 561us/step - loss: 1595476.0758 - root_mean_squared_error: 1373.0928 - val_loss: 1473139.9087 - val_root_mean_squared_error: 1369.7435
Epoch 21/100
6818/6818 [==============================] - 4s 554us/step - loss: 1517952.9213 - root_mean_squared_error: 1366.7974 - val_loss: 1728424.3161 - val_root_mean_squared_error: 1363.8026
Epoch 22/100
6818/6818 [==============================] - 4s 557us/step - loss: 1518849.8981 - root_mean_squared_error: 1361.4613 - val_loss: 1369517.3098 - val_root_mean_squared_error: 1358.1384
Epoch 23/100
6818/6818 [==============================] - 4s 565us/step - loss: 1511499.0317 - root_mean_squared_error: 1355.3126 - val_loss: 1614396.6916 - val_root_mean_squared_error: 1352.7440
Epoch 24/100
6818/6818 [==============================] - 4s 573us/step - loss: 1565254.2514 - root_mean_squared_error: 1350.6151 - val_loss: 1535081.8217 - val_root_mean_squared_error: 1348.6368
Epoch 25/100
6818/6818 [==============================] - 4s 579us/step - loss: 1527727.6195 - root_mean_squared_error: 1346.6482 - val_loss: 1340481.1170 - val_root_mean_squared_error: 1344.0438
Epoch 26/100
6818/6818 [==============================] - 4s 556us/step - loss: 1410417.3017 - root_mean_squared_error: 1340.7560 - val_loss: 2262108.0773 - val_root_mean_squared_error: 1339.5555
Epoch 27/100
6818/6818 [==============================] - 4s 569us/step - loss: 1368336.4563 - root_mean_squared_error: 1337.7841 - val_loss: 1470477.1617 - val_root_mean_squared_error: 1334.9615
Epoch 28/100
6818/6818 [==============================] - 4s 576us/step - loss: 1448234.7134 - root_mean_squared_error: 1332.5082 - val_loss: 2278435.5212 - val_root_mean_squared_error: 1331.6725
Epoch 29/100
6818/6818 [==============================] - 4s 577us/step - loss: 1511231.1912 - root_mean_squared_error: 1330.9779 - val_loss: 1368516.5510 - val_root_mean_squared_error: 1329.0065
Epoch 30/100
6818/6818 [==============================] - 4s 560us/step - loss: 1516039.2412 - root_mean_squared_error: 1327.2271 - val_loss: 1545902.4157 - val_root_mean_squared_error: 1325.6864
Epoch 31/100
6818/6818 [==============================] - 4s 563us/step - loss: 1515784.7650 - root_mean_squared_error: 1324.2697 - val_loss: 1611720.5864 - val_root_mean_squared_error: 1322.9189
Epoch 32/100
6818/6818 [==============================] - 4s 559us/step - loss: 1531860.0355 - root_mean_squared_error: 1321.7579 - val_loss: 1414872.5307 - val_root_mean_squared_error: 1320.2633
Epoch 33/100
6818/6818 [==============================] - 4s 564us/step - loss: 1490543.7688 - root_mean_squared_error: 1318.6118 - val_loss: 1438034.5919 - val_root_mean_squared_error: 1317.2046
Epoch 34/100
6818/6818 [==============================] - 4s 553us/step - loss: 1508505.6038 - root_mean_squared_error: 1315.9288 - val_loss: 1440178.6758 - val_root_mean_squared_error: 1314.5061
Epoch 35/100
6818/6818 [==============================] - 4s 550us/step - loss: 1480952.0314 - root_mean_squared_error: 1313.1368 - val_loss: 1534564.9611 - val_root_mean_squared_error: 1311.8451
Epoch 36/100
6818/6818 [==============================] - 4s 551us/step - loss: 1483788.1257 - root_mean_squared_error: 1310.8021 - val_loss: 1728377.1802 - val_root_mean_squared_error: 1309.6555
Epoch 37/100
6818/6818 [==============================] - 4s 542us/step - loss: 1443483.0136 - root_mean_squared_error: 1308.8291 - val_loss: 1365976.5526 - val_root_mean_squared_error: 1307.0206
Epoch 38/100
6818/6818 [==============================] - 4s 550us/step - loss: 1344628.1738 - root_mean_squared_error: 1305.2938 - val_loss: 1650346.7982 - val_root_mean_squared_error: 1303.7098
Epoch 39/100
6818/6818 [==============================] - 4s 557us/step - loss: 1495615.4036 - root_mean_squared_error: 1303.0031 - val_loss: 1548418.8117 - val_root_mean_squared_error: 1301.8689
Epoch 40/100
6818/6818 [==============================] - 4s 558us/step - loss: 1499854.3914 - root_mean_squared_error: 1300.9484 - val_loss: 1528793.4111 - val_root_mean_squared_error: 1300.0654
Epoch 41/100
6818/6818 [==============================] - 4s 556us/step - loss: 1483722.7404 - root_mean_squared_error: 1299.1770 - val_loss: 1412680.0648 - val_root_mean_squared_error: 1298.1040
Epoch 42/100
6818/6818 [==============================] - 4s 565us/step - loss: 1465157.3112 - root_mean_squared_error: 1297.0891 - val_loss: 1452178.0396 - val_root_mean_squared_error: 1296.0302
Epoch 43/100
6818/6818 [==============================] - 4s 553us/step - loss: 1469630.3796 - root_mean_squared_error: 1295.1584 - val_loss: 1849942.7878 - val_root_mean_squared_error: 1294.4514
Epoch 44/100
6818/6818 [==============================] - 4s 562us/step - loss: 1483302.1880 - root_mean_squared_error: 1294.0055 - val_loss: 1517840.2686 - val_root_mean_squared_error: 1293.1115
Epoch 45/100
6818/6818 [==============================] - 4s 555us/step - loss: 1515250.2892 - root_mean_squared_error: 1292.4590 - val_loss: 1403624.2879 - val_root_mean_squared_error: 1291.6713
Epoch 46/100
6818/6818 [==============================] - 4s 559us/step - loss: 1480322.5782 - root_mean_squared_error: 1290.6062 - val_loss: 1493688.3605 - val_root_mean_squared_error: 1290.0385
Epoch 47/100
6818/6818 [==============================] - 4s 558us/step - loss: 1452894.9872 - root_mean_squared_error: 1289.3711 - val_loss: 1884209.0089 - val_root_mean_squared_error: 1288.7069
Epoch 48/100
6818/6818 [==============================] - 4s 550us/step - loss: 1459886.3437 - root_mean_squared_error: 1288.2435 - val_loss: 1371260.7950 - val_root_mean_squared_error: 1287.3179
Epoch 49/100
6818/6818 [==============================] - 4s 545us/step - loss: 1490422.0276 - root_mean_squared_error: 1286.4659 - val_loss: 1533871.6894 - val_root_mean_squared_error: 1285.9430
Epoch 50/100
6818/6818 [==============================] - 4s 565us/step - loss: 1420982.3585 - root_mean_squared_error: 1285.1969 - val_loss: 1479266.8570 - val_root_mean_squared_error: 1284.2659
Epoch 51/100
6818/6818 [==============================] - 4s 557us/step - loss: 1455497.0884 - root_mean_squared_error: 1283.5952 - val_loss: 1389604.2849 - val_root_mean_squared_error: 1282.7344
Epoch 52/100
6818/6818 [==============================] - 4s 555us/step - loss: 1527407.6758 - root_mean_squared_error: 1282.1401 - val_loss: 1406773.0418 - val_root_mean_squared_error: 1281.6604
Epoch 53/100
6818/6818 [==============================] - 4s 556us/step - loss: 1419916.5310 - root_mean_squared_error: 1280.8169 - val_loss: 1928521.9504 - val_root_mean_squared_error: 1280.4054
Epoch 54/100
6818/6818 [==============================] - 4s 564us/step - loss: 1451905.6799 - root_mean_squared_error: 1280.1541 - val_loss: 1385340.7042 - val_root_mean_squared_error: 1279.3153
Epoch 55/100
6818/6818 [==============================] - 4s 565us/step - loss: 1423011.0052 - root_mean_squared_error: 1278.6326 - val_loss: 1285911.7132 - val_root_mean_squared_error: 1277.6689
Epoch 56/100
6818/6818 [==============================] - 4s 559us/step - loss: 1351700.4610 - root_mean_squared_error: 1276.5482 - val_loss: 1442649.7012 - val_root_mean_squared_error: 1275.7174
Epoch 57/100
6818/6818 [==============================] - 4s 566us/step - loss: 1368781.6125 - root_mean_squared_error: 1274.9626 - val_loss: 1324612.3169 - val_root_mean_squared_error: 1273.9602
Epoch 58/100
6818/6818 [==============================] - 4s 579us/step - loss: 1347919.1680 - root_mean_squared_error: 1272.9536 - val_loss: 1464368.1911 - val_root_mean_squared_error: 1272.1532
Epoch 59/100
6818/6818 [==============================] - 4s 560us/step - loss: 1530036.8638 - root_mean_squared_error: 1271.9395 - val_loss: 1705152.0187 - val_root_mean_squared_error: 1271.6570
Epoch 60/100
6818/6818 [==============================] - 4s 564us/step - loss: 1452333.6939 - root_mean_squared_error: 1271.3531 - val_loss: 5019440.2163 - val_root_mean_squared_error: 1273.1708
Epoch 61/100
6818/6818 [==============================] - 4s 561us/step - loss: 1576319.6078 - root_mean_squared_error: 1275.6305 - val_loss: 1335873.5272 - val_root_mean_squared_error: 1274.8412
Epoch 62/100
6818/6818 [==============================] - 4s 562us/step - loss: 1303835.5967 - root_mean_squared_error: 1273.8459 - val_loss: 1426333.9955 - val_root_mean_squared_error: 1272.8973
Epoch 63/100
6818/6818 [==============================] - 4s 566us/step - loss: 1349100.5527 - root_mean_squared_error: 1272.2694 - val_loss: 1385211.7586 - val_root_mean_squared_error: 1271.2882
Epoch 64/100
6818/6818 [==============================] - 4s 572us/step - loss: 1295847.4457 - root_mean_squared_error: 1270.3175 - val_loss: 1374822.5708 - val_root_mean_squared_error: 1269.4045
Epoch 65/100
6818/6818 [==============================] - 4s 572us/step - loss: 1354527.3501 - root_mean_squared_error: 1268.8474 - val_loss: 1355064.4474 - val_root_mean_squared_error: 1267.8702
Epoch 66/100
6818/6818 [==============================] - 4s 564us/step - loss: 1382885.7965 - root_mean_squared_error: 1267.1084 - val_loss: 1533898.0220 - val_root_mean_squared_error: 1266.6027
Epoch 67/100
6818/6818 [==============================] - 4s 575us/step - loss: 1442050.4907 - root_mean_squared_error: 1266.2507 - val_loss: 1389709.0662 - val_root_mean_squared_error: 1265.6571
Epoch 68/100
6818/6818 [==============================] - 4s 580us/step - loss: 1443948.5468 - root_mean_squared_error: 1265.1689 - val_loss: 1875309.2099 - val_root_mean_squared_error: 1264.9783
Epoch 69/100
6818/6818 [==============================] - 4s 573us/step - loss: 1554164.4886 - root_mean_squared_error: 1265.1486 - val_loss: 1430097.3135 - val_root_mean_squared_error: 1264.8046
Epoch 70/100
6818/6818 [==============================] - 4s 583us/step - loss: 1351496.9021 - root_mean_squared_error: 1264.2399 - val_loss: 1320793.3705 - val_root_mean_squared_error: 1263.4287
Epoch 71/100
6818/6818 [==============================] - 4s 576us/step - loss: 1273393.0796 - root_mean_squared_error: 1262.6012 - val_loss: 1340517.6943 - val_root_mean_squared_error: 1261.7013
Epoch 72/100
6818/6818 [==============================] - 4s 579us/step - loss: 1366641.7042 - root_mean_squared_error: 1260.9670 - val_loss: 1888161.6301 - val_root_mean_squared_error: 1260.7185
Epoch 73/100
6818/6818 [==============================] - 4s 581us/step - loss: 1426998.2152 - root_mean_squared_error: 1260.6465 - val_loss: 1374631.3597 - val_root_mean_squared_error: 1260.0576
Epoch 74/100
6818/6818 [==============================] - 4s 575us/step - loss: 1447249.8974 - root_mean_squared_error: 1259.5654 - val_loss: 1862696.5639 - val_root_mean_squared_error: 1259.5093
Epoch 75/100
6818/6818 [==============================] - 4s 570us/step - loss: 1443418.4886 - root_mean_squared_error: 1259.3636 - val_loss: 1651548.5505 - val_root_mean_squared_error: 1259.0623
Epoch 76/100
6818/6818 [==============================] - 4s 582us/step - loss: 1417127.8090 - root_mean_squared_error: 1258.7944 - val_loss: 1498993.7601 - val_root_mean_squared_error: 1258.3470
Epoch 77/100
6818/6818 [==============================] - 4s 584us/step - loss: 1452277.4455 - root_mean_squared_error: 1258.1614 - val_loss: 1353765.6061 - val_root_mean_squared_error: 1257.6489
Epoch 78/100
6818/6818 [==============================] - 4s 583us/step - loss: 1497803.4373 - root_mean_squared_error: 1257.5054 - val_loss: 1323763.4753 - val_root_mean_squared_error: 1257.0552
Epoch 79/100
6818/6818 [==============================] - 4s 576us/step - loss: 1316331.6660 - root_mean_squared_error: 1256.3661 - val_loss: 1334751.9086 - val_root_mean_squared_error: 1255.7388
Epoch 80/100
6818/6818 [==============================] - 4s 575us/step - loss: 1408160.8116 - root_mean_squared_error: 1255.2450 - val_loss: 1437325.1718 - val_root_mean_squared_error: 1254.8813
Epoch 81/100
6818/6818 [==============================] - 4s 579us/step - loss: 1425206.4576 - root_mean_squared_error: 1254.4202 - val_loss: 1394752.1274 - val_root_mean_squared_error: 1254.1279
Epoch 82/100
6818/6818 [==============================] - 4s 575us/step - loss: 1418970.0321 - root_mean_squared_error: 1253.7650 - val_loss: 1453990.6456 - val_root_mean_squared_error: 1253.3907
Epoch 83/100
6818/6818 [==============================] - 4s 575us/step - loss: 1463979.1817 - root_mean_squared_error: 1253.0631 - val_loss: 1373031.8488 - val_root_mean_squared_error: 1252.8209
Epoch 84/100
6818/6818 [==============================] - 4s 588us/step - loss: 1393057.0450 - root_mean_squared_error: 1252.4576 - val_loss: 1254059.2648 - val_root_mean_squared_error: 1251.9065
Epoch 85/100
6818/6818 [==============================] - 4s 576us/step - loss: 1444298.2024 - root_mean_squared_error: 1251.4712 - val_loss: 1389424.8477 - val_root_mean_squared_error: 1251.2131
Epoch 86/100
6818/6818 [==============================] - 4s 566us/step - loss: 1441955.8124 - root_mean_squared_error: 1250.9745 - val_loss: 1348192.1644 - val_root_mean_squared_error: 1250.5679
Epoch 87/100
6818/6818 [==============================] - 4s 566us/step - loss: 1403028.0503 - root_mean_squared_error: 1250.1375 - val_loss: 1391756.3754 - val_root_mean_squared_error: 1249.7975
Epoch 88/100
6818/6818 [==============================] - 4s 578us/step - loss: 1450188.8517 - root_mean_squared_error: 1249.5397 - val_loss: 1399441.7734 - val_root_mean_squared_error: 1249.2383
Epoch 89/100
6818/6818 [==============================] - 4s 583us/step - loss: 1399658.6180 - root_mean_squared_error: 1248.9258 - val_loss: 1498666.2338 - val_root_mean_squared_error: 1248.5554
Epoch 90/100
6818/6818 [==============================] - 4s 588us/step - loss: 1314522.7710 - root_mean_squared_error: 1248.1989 - val_loss: 1326684.5534 - val_root_mean_squared_error: 1247.5547
Epoch 91/100
6818/6818 [==============================] - 4s 573us/step - loss: 1316063.9223 - root_mean_squared_error: 1247.0367 - val_loss: 1481784.0868 - val_root_mean_squared_error: 1246.5720
Epoch 92/100
6818/6818 [==============================] - 4s 586us/step - loss: 1289955.9733 - root_mean_squared_error: 1246.1584 - val_loss: 1435321.9013 - val_root_mean_squared_error: 1245.5823
Epoch 93/100
6818/6818 [==============================] - 4s 589us/step - loss: 1421821.2549 - root_mean_squared_error: 1245.2728 - val_loss: 1317986.6748 - val_root_mean_squared_error: 1244.9688
Epoch 94/100
6818/6818 [==============================] - 4s 573us/step - loss: 1371320.1110 - root_mean_squared_error: 1244.6385 - val_loss: 1332925.2377 - val_root_mean_squared_error: 1244.1714
Epoch 95/100
6818/6818 [==============================] - 4s 580us/step - loss: 1269008.1670 - root_mean_squared_error: 1243.5955 - val_loss: 1835069.9031 - val_root_mean_squared_error: 1243.2677
Epoch 96/100
6818/6818 [==============================] - 4s 584us/step - loss: 1765603.7691 - root_mean_squared_error: 1243.8398 - val_loss: 1568908.6297 - val_root_mean_squared_error: 1244.1221
Epoch 97/100
6818/6818 [==============================] - 4s 586us/step - loss: 1577078.9608 - root_mean_squared_error: 1244.2367 - val_loss: 1436705.2641 - val_root_mean_squared_error: 1244.1820
Epoch 98/100
6818/6818 [==============================] - 4s 584us/step - loss: 1494674.2499 - root_mean_squared_error: 1244.0873 - val_loss: 1543613.1307 - val_root_mean_squared_error: 1243.9565
Epoch 99/100
6818/6818 [==============================] - 4s 592us/step - loss: 1456586.6723 - root_mean_squared_error: 1243.7877 - val_loss: 1495150.6430 - val_root_mean_squared_error: 1243.6367
Epoch 100/100
6818/6818 [==============================] - 4s 589us/step - loss: 1466793.0298 - root_mean_squared_error: 1243.5089 - val_loss: 1458214.5513 - val_root_mean_squared_error: 1243.3290

In [37]:
prediction = model.predict(X_test)
prediction

array([[4863.1045 ],
       [1774.9435 ],
       [3190.1016 ],
       ...,
       [ 870.82434],
       [2918.0398 ],
       [3258.244  ]], dtype=float32)

In [38]:
from sklearn.metrics import r2_score
r2_score(y_test, prediction)

0.508755981355532

**Preprocessing test data**

In [39]:
test_data=pd.read_csv('/content/test_FewQE9B.csv')

In [40]:
test_data.head()

  Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
0           FDW58       20.750  ...               Tier 1  Supermarket Type1
1           FDW14        8.300  ...               Tier 2  Supermarket Type1
2           NCN55       14.600  ...               Tier 3      Grocery Store
3           FDQ58        7.315  ...               Tier 2  Supermarket Type1
4           FDY38          NaN  ...               Tier 3  Supermarket Type3

[5 rows x 11 columns]

In [41]:
test_data.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [42]:
test_data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
dtype: object

In [43]:
test_data.duplicated().sum()

0

In [44]:
test_data.Item_Weight.fillna(test_data.Item_Weight.mean(), inplace=True)
test_data.Item_Weight.isnull().sum()

0

In [45]:
test_data.Outlet_Size=data.Outlet_Size.fillna(test_data['Outlet_Size'].value_counts().index[0])
test_data.Outlet_Size.isna().sum()

0

In [46]:
test_data1=test_data.drop('Outlet_Identifier',axis=1)
test_data1=test_data1.drop('Item_Identifier',axis=1)
test_data1.head()

   Item_Weight Item_Fat_Content  ...  Outlet_Location_Type        Outlet_Type
0    20.750000          Low Fat  ...                Tier 1  Supermarket Type1
1     8.300000              reg  ...                Tier 2  Supermarket Type1
2    14.600000          Low Fat  ...                Tier 3      Grocery Store
3     7.315000          Low Fat  ...                Tier 2  Supermarket Type1
4    12.695633          Regular  ...                Tier 3  Supermarket Type3

[5 rows x 9 columns]

In [47]:
for cat in categories:
      test_data1[cat]= label_encoder.fit_transform(test_data1[cat])
test_data1.head()

   Item_Weight  Item_Fat_Content  ...  Outlet_Location_Type  Outlet_Type
0    20.750000                 1  ...                     0            1
1     8.300000                 4  ...                     1            1
2    14.600000                 1  ...                     2            0
3     7.315000                 1  ...                     1            1
4    12.695633                 2  ...                     2            3

[5 rows x 9 columns]

In [48]:
pred=model.predict(test_data1)

In [56]:
test_pred=pd.DataFrame()
test_pred['Item_Identifier']=test_data['Item_Identifier']
test_pred['Outlet_Identifier']=test_data['Outlet_Identifier']
test_pred['Item_Outlet_Sales']=pred
test_pred.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1978.908813
1           FDW14            OUT017        1288.606201
2           NCN55            OUT010        2464.791992
3           FDQ58            OUT017        2467.476562
4           FDY38            OUT027        5981.225098

In [63]:
test_pred.to_csv('Submission.csv',index=False)